# **Using python to query sqlite3**

Northwind database

**import libraries**

In [11]:
import sqlite3
import pandas as pd

**Create a connection with sqlite3**

In [12]:
# Create a connection with sqlite3
conn = sqlite3.connect("northwind.db")

In [13]:
# Establish connection and start cursor to be ready to query
cur = conn.cursor()

In [14]:
# Pass in a PostgreSQL query as a string
cur.execute("select * from categories;")

In [15]:
query1 = '''
        select * from products
        '''
cur.execute(query1)

In [16]:
cur.fetchmany(10)

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, '0'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, '0'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, '0'),
 (4,
  "Chef Anton's Cajun Seasoning",
  2,
  2,
  '48 - 6 oz jars',
  22,
  53,
  0,
  0,
  '0'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, '1'),
 (6,
  "Grandma's Boysenberry Spread",
  3,
  2,
  '12 - 8 oz jars',
  25,
  120,
  0,
  25,
  '0'),
 (7,
  "Uncle Bob's Organic Dried Pears",
  3,
  7,
  '12 - 1 lb pkgs.',
  30,
  15,
  0,
  10,
  '0'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 6, 0, 0, '0'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, '1'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 31, 0, 0, '0')]

In [17]:
# Naturally we get a list of tupples
tupples = cur.fetchall()
cur.close()

**sqlite3 SQL to dataFrame:**

In [18]:
def sqlite3_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, sqlite3.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [19]:
column_names = ["id", "category_name", "description", "picture"]
# Execute the "SELECT *" query
df = sqlite3_to_dataframe(conn, "select * from categories;", column_names)
df.head()

,id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
2,3,Confections,"Desserts, candies, and sweet breads",b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
3,4,Dairy Products,Cheeses,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00...

In [ ]:
# weird encodings

In [10]:
conn.close()

## **THE END**