# **Using python to query mysql**

Northwind database

### **method.1:** using mysql.connector

In [54]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="mysql",
  port = 3306, #for Mamp users
  database='northwind'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000135683A7FA0>

In [55]:
# Establish connection and start cursor to be ready to query
cur = mydb.cursor()

In [56]:
# Pass in a query as a string
cur.execute("select * from categories;")

In [57]:
cur.fetchmany(5)

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales', None),
 (2,
  'Condiments',
  'Sweet and savory sauces, relishes, spreads, and seasonings',
  None),
 (3, 'Confections', 'Desserts, candies, and sweet breads', None),
 (4, 'Dairy Products', 'Cheeses', None),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal', None)]

In [60]:
#cur.close()

### **method.2:**    using pymysql

In [61]:
#!pip install pymysql

In [62]:
# import pymysql
import pymysql
import pandas as pd

In [63]:
# create a connection
conn = pymysql.connect(
    database='northwind',
    user="root",
    password="mysql"
  )

In [64]:
# Establish connection and start cursor to be ready to query
cur = conn.cursor()

In [65]:
# Pass in a query as a string
cur.execute("select * from categories;")

8

In [66]:
# Return N number of rows
cur.fetchmany(10)

((1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales', None),
 (2,
  'Condiments',
  'Sweet and savory sauces, relishes, spreads, and seasonings',
  None),
 (3, 'Confections', 'Desserts, candies, and sweet breads', None),
 (4, 'Dairy Products', 'Cheeses', None),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal', None),
 (6, 'Meat/Poultry', 'Prepared meats', None),
 (7, 'Produce', 'Dried fruit and bean curd', None),
 (8, 'Seafood', 'Seaweed and fish', None))

In [67]:
# Return All rows at once
cur.fetchall()

()

In [68]:
# To save and index results, assign it to a variable
data = cur.fetchmany(10)

In [69]:
query1 = '''
        select * from employees
        '''
cur.execute(query1)

9

In [70]:
# Naturally we get a list of tupples
tupples = cur.fetchall()
cur.close()

**Postgres SQL to dataFrame:** the following code was made available by Naysan Saran : [link](https://naysan.ca/2020/05/31/postgresql-to-pandas/)

In [71]:
def mysql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [72]:
column_names = ["id", "category_name", "description", "picture"]
# Execute the "SELECT *" query
df = mysql_to_dataframe(conn, "select * from categories;", column_names)
df.head()

,id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",None
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",None
2,3,Confections,"Desserts, candies, and sweet breads",None
3,4,Dairy Products,Cheeses,None
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",None

In [73]:
conn.close()

## **THE END**